<?xml version="1.0" encoding="UTF-8"?>
<form>
	<fields name="params" >
		<fieldset name="opengraph">

			<field
				name="og_active"
				type="radio"
				label="PLG_CONTENT_IMZOPENGRAPH_FIELD_OG_ACTIVE_LABEL"
				description="PLG_CONTENT_IMZOPENGRAPH_FIELD_OG_ACTIVE_DESC"
				class="btn-group btn-group-yesno"
				default="0"
				>
				<option value="1">PLG_CONTENT_IMZOPENGRAPH_FIELD_ACTIVE_YES</option>
				<option value="0">PLG_CONTENT_IMZOPENGRAPH_FIELD_ACTIVE_NO</option>
			</field>

			<field
				name="og_type"
				default="website"
				type="list"
				label="PLG_CONTENT_IMZOPENGRAPH_FIELD_TYPE_LABEL"
				description="PLG_CONTENT_IMZOPENGRAPH_FIELD_TYPE_DESC"
				showon="og_active:1"
				>
				<option value="article">article</option>  
				<option value="blog">blog</option>  
				<option value="website">website</option>           
			</field>

			<field
				name="og_title"
				type="text"
				label="PLG_CONTENT_IMZOPENGRAPH_FIELD_TITLE_LABEL"
				description="PLG_CONTENT_IMZOPENGRAPH_FIELD_TITLE_DESC"
				showon="og_active:1"
				/> 

			<field
				name="og_image"
				type="media"
				label="PLG_CONTENT_IMZOPENGRAPH_FIELD_IMAGE_LABEL"
				description="PLG_CONTENT_IMZOPENGRAPH_FIELD_IMAGE_DESC"
				showon="og_active:1"
				/>

			<field
				name="og_description"
				type="textarea"
				label="PLG_CONTENT_IMZOPENGRAPH_FIELD_DESC_LABEL"
				description="PLG_CONTENT_IMZOPENGRAPH_FIELD_DESC_DESC"
				showon="og_active:1"
				/> 
				
			<field type="spacer" name="myspacer" hr="true" />

			<field
				name="tw_active"
				type="radio"
				label="PLG_CONTENT_IMZOPENGRAPH_FIELD_TW_ACTIVE_LABEL"
				description="PLG_CONTENT_IMZOPENGRAPH_FIELD_TW_ACTIVE_DESC"
				class="btn-group btn-group-yesno"
				default="0"
				>
				<option value="1">PLG_CONTENT_IMZOPENGRAPH_FIELD_ACTIVE_YES</option>
				<option value="0">PLG_CONTENT_IMZOPENGRAPH_FIELD_ACTIVE_NO</option>
			</field>

			<field
				name="tw_card"
				default="summary"
				type="list"
				label="PLG_CONTENT_IMZOPENGRAPH_FIELD_TWCARD_LABEL"
				description="PLG_CONTENT_IMZOPENGRAPH_FIELD_TWCARD_DESC"
				showon="tw_active:1"
				>
				<option value="summary">summary</option>  
				<option value="summary_large_image">summary_large_image</option>  
				<option value="app">app</option>           
				<option value="player">player</option>           
			</field>

			<field
				name="tw_site"
				type="text"
				label="PLG_CONTENT_IMZOPENGRAPH_FIELD_TWSITE_LABEL"
				description="PLG_CONTENT_IMZOPENGRAPH_FIELD_TWSITE_DESC"
				showon="tw_active:1"
				/> 

			<field
				name="tw_creator"
				type="text"
				label="PLG_CONTENT_IMZOPENGRAPH_FIELD_TWCREATOR_LABEL"
				description="PLG_CONTENT_IMZOPENGRAPH_FIELD_TWCREATOR_DESC"
				showon="tw_active:1"
				/>
		</fieldset>
	</fields>
</form>